*{
  list-style: none;

}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color:#EFFBFE;
  /*#DFF7FD*/
  margin-top: 0px;
}
#banner{
  height: 260px;
  background: center;
  background-size: 100% 100%;
}
#xinshougroup{
  padding:8px 0px;
  width: 120px;
  font-family: 'Microsoft YaHei';
  font-size: 16px;
  float: left;
  color: #707070;
  cursor: pointer;
}
.sameline{
  display: inline;
  vertical-align: middle;
}
#logingroup{
  padding:8px 0px;
  width: 120px;
  font-family: 'Microsoft YaHei';
  font-size: 16px;
  float: right;
  color: #707070;
  cursor: pointer;
}
#perfumebox_logo{
  padding:0px ;
  display: inline;
}
#searchgroup{
  width: 380px;
  margin:auto;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}
#search{
  width: 260px;
  border: 1px solid #e2e2e2;
  height: 30px;
  float: left;
  background-image: url(./assets/search.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position:5px center;
  padding:0 0 0 40px;
}
#searchbtn{
  width: 78px;
  height: 32px;
  float: right;
  background: darkgray;
  color: white;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  font-family: 'Microsoft YaHei';
}
.navigationFixed{
  position:fixed;
  background-color:#DFF7FD;
  border:1px solid darkgray;
  top:0;
  z-index:999;
  WIDTH: 98.9%;
  line-height: 50px;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.navigationUnFixed{
  background-color:#DFF7FD;
  border:1px solid darkgray;
  WIDTH: 99.8%;
  line-height: 50px;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.navigation_li{
  font-size: 0.9rem;
  text-align: center;
  flex: 1;
  list-style: none;
  border:1px solid darkgray;
  /*float: left;*/
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
.container{
  width:80%;
  /*background: red;*/
  margin: 60px auto;
  position: relative;
  justify-content: center;
  display: flex;
}
.container img{
  width:100%;
  border: 2px solid #CDEDED;
  display: inline;
}
.indexes{
  display: flex;
  position: absolute;
  bottom: 10px;
  /*background: pink;*/
  margin: 0px;
  padding: 0px;
}
.indexes li{
  width: 50px;
  height: 8px;;
  border-radius: 50%;
  background: darkgray;
  margin: 0px 10px;
}
.indexes li.active{
  background: #707070;
}
.article_ul{
  display: flex;
  margin: 150px auto;
  justify-content: center;
}
.article_img{
  padding-left: 12px;
  padding-right: 12px;
}
.article_title{
  padding-top: 10px;
  color: #707070;
  text-decoration: none;
}

